:root {
  font-size: 16px !important;
  font-family: "Montserrat", sans-serif !important;
  --text-primary: #100929 !important;
  --text-secondary: #530c9e !important;
  --bg-primary: #ffffff !important;
  --bg-secondary: #ffe8d6 !important;
  --transition-speed: 600ms !important;
  --light: #ffffff;
  --dark: rgb(0, 0, 0);
  --title: #6b705c;
  --subtext: black;
}

::-webkit-scrollbar {
  width: 0.25rem !important;
}

::-webkit-scrollbar-track {
  background: linear-gradient(white, transparent) !important;
}

::-webkit-scrollbar-thumb {
  background: var(--text-secondary) !important;
}

